<h3>Version Control</h3>

<p>
This site is version controlled using <a href="http://git-scm.com/">Git</a>.
<TMPL_IF BRANCHABLE>
Anyone can access its anonymous git repository:
<pre>
git clone <TMPL_VAR GITANONURL>
</pre>
<TMPL_IF ANONPUSH>
Modifications to the site can be pushed to the anonymous git repository,
but will be subject to verification.
</TMPL_IF>
</TMPL_IF>
</p>

<p>
Users with <a href="/ikiwiki.cgi?do=setupsshkeys">configured ssh keys</a> can modify the git repository:
<pre>
git clone <TMPL_VAR GITSSHURL> <TMPL_VAR HOSTNAME ESCAPE=HTML>
</pre>
</p>

<TMPL_IF CONTROLSITECGIURL>
<h3>Branching This Site</h3>

<p>
<TMPL_IF BRANCHABLE>
Anyone can make a branch of this site.
<TMPL_ELSE>
Only the owner and admins of this site may make a branch of it.
</TMPL_IF>
The branch will start out as an exact copy of the site, and you can
then change it as desired.
</p>

<p>
<form action="<TMPL_VAR CONTROLSITECGIURL>">
<input type="hidden" name="do" value="branchsite" />
<input type="hidden" name="branchof" value="<TMPL_VAR HOSTNAME ESCAPE=HTML>" />
I want a branch of <TMPL_VAR HOSTNAME ESCAPE=HTML> named
<input name="hostname" size="40" placeholder="example.com" />
<input type="hidden" name="domain" value="ikiwiki.info" />
<input type="submit" name="submit" value="Create it now!" />
</form>
</p>

</TMPL_IF>

<hr>

<p>If this is your site and you want to
<TMPL_IF BRANCHABLE>disable<TMPL_ELSE>enable</TMPL_IF>
branching and anonymous git access, you can configure that on the
<a href="<TMPL_VAR SETUPURL>">Setup Page</a>.</p>
