<form action="/ikiwiki.cgi" method="post">
<input type="hidden" name="do" value="<TMPL_IF BRANCHING>branchsite<TMPL_ELSE>makesite</TMPL_IF>" />
<input type="hidden" name="branchof" value="<TMPL_VAR BRANCHOF>" />
<input type="hidden" name="nonce" value="<TMPL_VAR NONCE>" />
<input type="hidden" name="creating" value="<TMPL_VAR CREATING>" />
<input type="hidden" name="ready" value="<TMPL_VAR READY>" />
<input type="hidden" name="retry" value="1" />
<input type="hidden" name="type" value="<TMPL_VAR TYPE>" />
<input type="hidden" name="hostname" value="<TMPL_VAR HOSTNAME ESCAPE=HTML>" />
<input type="hidden" name="domain" value="<TMPL_VAR DOMAIN ESCAPE=HTML>" />
<input type="hidden" name="internal_hostname" value="<TMPL_VAR INTERNAL_HOSTNAME ESCAPE=HTML>" />

<div class="notice">
Your site <TMPL_IF EXTERNAL_HOSTNAME><TMPL_VAR EXTERNAL_HOSTNAME ESCAPE=HTML><TMPL_ELSE><TMPL_VAR INTERNAL_HOSTNAME ESCAPE=HTML></TMPL_IF>
<TMPL_IF READY>
has been created.
<TMPL_ELSE>
is being created right now.
</TMPL_IF>
</div>

<TMPL_IF SUGGESTEDPLAN>
<input type="hidden" name="suggestedplan" value="<TMPL_VAR SUGGESTEDPLAN>" />
<TMPL_IF BILLING_OK>
<input type="hidden" name="acceptplan" value="1" />
<input type="hidden" name="email" value="<TMPL_VAR EMAIL>" />
<TMPL_ELSE>
<h1>Billing</h1>
<p>
To pay for your site, you need to sign up for the <TMPL_VAR SUGGESTEDPLAN_NAME>
plan:
<br />
<TMPL_VAR SUGGESTEDPLAN_DESCRIPTION>
<TMPL_IF SUGGESTEDPLAN_MONTHSFREETRIAL>
(<TMPL_VAR SUGGESTEDPLAN_MONTHSFREETRIAL> month free trial)
</TMPL_IF>
</p>
<p>
<input id="makesite_acceptplan" type="checkbox" name="acceptplan" value="1" <TMPL_IF ACCEPTPLAN>checked</TMPL_IF> />
<label for="makesite_acceptplan">Enroll me in the <TMPL_VAR SUGGESTEDPLAN_NAME> plan.
I agree to the <a href="/terms/">Terms of Service</a>.</label>
<TMPL_IF ACCEPTPLAN_ERROR><span class="error">* <TMPL_VAR ACCEPTPLAN_ERROR></span></TMPL_IF>
<br />
<label for="makesite_email">Email:</label>
<input id="makesite_email" name="email" value="<TMPL_VAR EMAIL>" />
<TMPL_IF EMAIL_ERROR><span class="error">* <TMPL_VAR EMAIL_ERROR></span></TMPL_IF>
</p>
</TMPL_IF>
<TMPL_ELSE>
<label for="makesite_email">Email:</label>
<input id="makesite_email" name="email" value="<TMPL_VAR EMAIL>" type="hidden" />
<TMPL_IF EMAIL_ERROR><span class="error">* <TMPL_VAR EMAIL_ERROR></span></TMPL_IF>
</TMPL_IF>

<TMPL_IF DNS_OK>

<hr />

<input type="submit" name="submit" value="Finish setting up my site!" />

<TMPL_ELSE>

<h1>Domain</h1>
<p>
<TMPL_IF DNS_NEEDED>
To make your site be available at <TMPL_VAR EXTERNAL_HOSTNAME ESCAPE=HTML>,
you need to purchase that domain name. I can't do that for
you, but you can buy the domain at sites like
<a href="http://godaddy.com/">GoDaddy</a> or
<a href="http://gandi.net/">Gandi</a>.
When you buy the domain, configure it to point to
<TMPL_VAR INTERNAL_HOSTNAME ESCAPE=HTML>.
</TMPL_IF>
<TMPL_IF DNS_WRONG>
Looks like <TMPL_VAR EXTERNAL_HOSTNAME ESCAPE=HTML> already exists. If you own
that domain, you need to visit your DNS Registrar, and configure
the domain so it points to <TMPL_VAR INTERNAL_HOSTNAME ESCAPE=HTML>.
</TMPL_IF>
</p>
<p>
<input type="submit" name="submit" value="I've set up the domain. Use it!" />
<TMPL_IF DNS_WRONG>
<TMPL_IF RETRIED>
<span class="error">&nbsp;&nbsp;Sorry, the DNS for
<TMPL_VAR EXTERNAL_HOSTNAME ESCAPE=HTML> is still not right ...</span>
</TMPL_IF>
</TMPL_IF>
</p>
<p>
Or, you can postpone using the <TMPL_VAR EXTERNAL_HOSTNAME ESCAPE=HTML> domain,
and set it up later, after you've used your site for a while.
</p>
<p>
<input type="submit" name="submit_nodns" value="Go to my site now!" />
</p>
</TMPL_IF>

</form>
